/* @import url("reset.css"); */
@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Shizuru&family=Yuji+Hentaigana+Akebono&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    /* background-color: rgb(27, 38, 87); */
    font-family: "Roboto", "Verdana", serif;
    font-size: 18px;
}

.h1{
    font-size: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-size: 40px;
}

.logo{
    background-color: rgb(52, 116, 107);
    width: 120px;
    height: 120px;
    border: 2px solid red;
    border-radius: 50% 10% 10% 10%;
    padding: 20px;
    margin: 20px;
    transition: .4s;
}

.logo:hover{
   
    border-radius: 0 0 50% 0;
   
    
}

.logo img{
    width: 100%;
}

.nav_top{
    background-color: rgb(167, 161, 86);
    outline: 2px solid red;
   
}

.nav_top .logo,
.nav_top .nav_items
{
    display: inline-block;
}

.nav_top .nav_items ul li,
.nav_top .nav_items ol li
{
    display: inline-block;
    margin: 0 10px;
}

.textDecor{
    font-style: italic;
    font-weight: 100;
}



.nav_items  ul li a, .nav_social{
    font-family: "Yuji Hentaigana Akebono", "Verdana", serif;
    font-size: 15px;
    /* color: rgb(28, 25, 187); */
    font-weight: 100px;
    text-decoration: none;
    background-color: aqua;
    margin: 10px ;
    padding: 10px;
    border: 2px solid red;
    border-radius: 50% 10% 20% 10%   ;
    transition: .4s;
    width: 70px;
    /* color: blueviolet; */
}
.nav_items ul li a:hover,.nav_social:hover{
    border-radius: 0 0 50% 0 ;
    background-color: bisque;
    /* text-decoration: overline; */
}

/* .nav_items ul li a:hover{
    text-decoration: overline;
} */

/* .nav_items ul li a:active{
    text-decoration: line-through;
} */
.link{
    color: rgb(29, 133, 38);
}





